<h2>Saved Results</h2>
<ul class="list-group list-group-flush mb-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Know yourself and you will win all battles.</span>
        <div class="hstack gap-2">
            <i class="bi bi-clipboard-plus"></i>
            <i class="bi bi-trash"></i>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>A leader leads by example, not by force.</span>
        <div class="hstack gap-2">
            <i class="bi bi-clipboard-plus"></i>
            <i class="bi bi-trash"></i>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Appear weak when you are strong, and strong when you are weak.</span>
        <div class="hstack gap-2 ms-2">
            <i class="bi bi-clipboard-plus"></i>
            <i class="bi bi-trash"></i>
        </div>
    </li>
</ul>


<div class="hstack gap-3 justify-content-end">
    <button class="btn btn-success">Copy All</button>
    <button class="btn btn-danger">Delete All</button>
</div>
